@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
  }

  @font-face {
    font-family: "Playfair Display";
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
  }



h1, h2, h3 {
    font-family: "Playfair Display", 'Times New Roman', Times, serif;
    margin-bottom: 0;
}

p {
    font-family: Roboto;
    font-size: larger;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    
    margin: 0;
}
#container {
    display: flex;
    flex-direction: column;
}

header,.projects,footer {
    padding-left: 80px;
    padding-right: 80px;
}
header {
    padding-top: 60px;
    display: flex;
    align-items: center;
    padding-bottom: 48px;
    background: linear-gradient(168deg ,#0891B2ff 63% , rgba(0,0,0,0.2) 63%,white 64% );

}

header .personal-photo {
    float: left;
}

/* .header-content {
    display: flex;
    align-items: center;
} */

/* .header::before {
    content: "";
    position: absolute;
    background-color: rgb(128, 128, 30);
    right: 0%;
    top: 10%;
    height: 35%;
    width: 100%;
} */

header .card {
    background-color: white;
    padding: 48px;
    z-index: 1;
}

.img-container {
    position: relative;
}

.img-container h2{
    position: absolute;
    bottom: 0%;
    color: white;
    text-align: center;
    z-index: 3;
    font-size: xx-large;
    left: 25%;
}
.card p{
    color: rgb(103, 107, 111);

 }
.header-links {
    display: flex;
    justify-content: end;
    font-size: 2rem;
    gap: 1rem;
}


.personal-photo {
    width: 450px;
    /* height: 450px;  */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
    z-index: 2;

}

.projects {
    margin-bottom: 5rem;
}

.projects h1 {
    margin-bottom: 12px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
    row-gap: 24px;
}

.card {
    /* Add shadows to create the "card" effect */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-bottom: 48px;

}


/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.project-name-links {
    display: flex;


}

.card-links {
    display: flex;
    font-size: 1.5rem;
    flex: 1;
    justify-content: end;
    align-items: center;
    gap: 0.5rem
}

h2 {
    margin-top: 0;
}
 .container img {
    width: 24px;
}
/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    background-color: white;
}

.project {
    padding: 24px;
    height: 150px;
    color: white;
    background-color: rgb(113, 11, 11);
   
}

footer {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 48px;
    /* padding: 12px; */
    background-color: #0891B2ff;
    color: white;
    font-family: "Playfair Display";
    gap:10px
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
footer p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.phone-number img, .email img {
    width: 32px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

footer .personal-photo {
    width: 550px;
}
.phone-number, .email {
    display: flex;
    gap: 16px;
}

.footer-links {
    display: flex;
    gap: 2rem;
    font-size: 2.5rem;
    color: black;
}

@media (max-width: 1000px) { /* tablet */
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    header,.projects,footer {
        padding-left: 48px;
        padding-right: 48px;
    }
 
    header .personal-photo {
        width: 300px;
        margin-right: 12px;
        margin-bottom: 12px;
        float: left;
    }

    footer .personal-photo {
        width: 300px;
    }

    header {
        display: block;
    }

    .about-me {
        margin: 48px;
    }


    .img-container h2 {
        /* position: static; */
        top: 10%;
    }
}

@media (max-width: 480px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 64px;
    }


    footer {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0;
    }
    
    header,.projects,.contact {
        padding-top: 48px;
        padding-left: 16px;
        padding-right: 16px;
    }

    header {
        display: flex;
        flex-direction: column;
        background: linear-gradient(160deg ,#0891B2ff 33% , rgba(0,0,0,0.2) 33%,white 34% );
        padding-bottom: 0;
       
    }
    .about-me {
        margin: 0;
    }
    .img-container {
        padding-left: 12px;
    }
    header .card, .personal-photo{
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;
    }
    .img-container h2 {
        top: 80%;
    }
    h1 {
        text-align: center;
    }

    header .personal-photo {
        width: 350px;
        margin-bottom: 24px;
    }

    footer .personal-photo {
        width: 100vw;
    }
    .header-links, .footer-links {
        justify-content: center;
    }
}