@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Black.ttf);
  }

  @font-face {
    font-family: "Playfair Display";
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
  }
body {
    margin: 32px;
}
.header {
    display: flex;
    align-items: center;
}
.about-me {
  
}
.personal-photo {
    width: 300px;
}